.Rproj.user
.Rhistory
.RData
.Ruserdata
# Folders with large datasets
Data/derived/*.csv
Data/derived/*.RDS
Data/wpp_data
Data/estimates/bereavement_life_tables.csv
Data/GGS
Data/hfd
# For presentation
presentation/
#other materials, including full functions
Other/
#experimental
R/E_Experimental
admin
paper
Other